@import 'tailwindcss';
@import '@heroui/styles';

:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(51.66% 0.1942 324.04);
  --background: oklch(26.056% 0.01865 285.02);
  --accent-foreground: oklch(91.4% 0.20842 115.978);
  --border: oklch(90% 0.0015 324.04);
  --danger: oklch(65.32% 0.2335 34.16);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.0015 324.04);
  --default-foreground: oklch(21.03% 0.0059 324.04);
  --field-background: oklch(100% 0.0008 324.04);
  --field-foreground: oklch(21.03% 0.0015 324.04);
  --field-placeholder: oklch(55.17% 0.003 324.04);
  --focus: oklch(51.66% 0.1942 324.04);
  --foreground: oklch(21.03% 0.0015 324.04);
  --muted: oklch(55.17% 0.003 324.04);
  --overlay: oklch(100% 0.0004 324.04);
  --overlay-foreground: oklch(21.03% 0.0015 324.04);
  --scrollbar: oklch(87.1% 0.0015 324.04);
  --segment: oklch(100% 0.0015 324.04);
  --segment-foreground: oklch(21.03% 0.0015 324.04);
  --separator: oklch(92% 0.0015 324.04);
  --success: oklch(73.29% 0.1941 159.23);
  --success-foreground: oklch(21.03% 0.0059 159.23);
  --surface: oklch(100% 0.0008 324.04);
  --surface-foreground: oklch(21.03% 0.0015 324.04);
  --surface-secondary: oklch(95.24% 0.0012 324.04);
  --surface-secondary-foreground: oklch(21.03% 0.0015 324.04);
  --surface-tertiary: oklch(93.73% 0.0012 324.04);
  --surface-tertiary-foreground: oklch(21.03% 0.0015 324.04);
  --warning: oklch(78.19% 0.159 80.75);
  --warning-foreground: oklch(21.03% 0.0059 80.75);

  /* Border Radius */
  --radius: 0.75rem;
  --field-radius: 1rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme='dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(51.66% 0.1942 324.04);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0.0015 324.04);
  --border: oklch(28% 0.0015 324.04);
  --danger: oklch(59.4% 0.1973 33.05);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.0015 324.04);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.003 324.04);
  --field-foreground: oklch(99.11% 0.0015 324.04);
  --field-placeholder: oklch(70.5% 0.003 324.04);
  --focus: oklch(51.66% 0.1942 324.04);
  --foreground: oklch(99.11% 0.0015 324.04);
  --muted: oklch(70.5% 0.003 324.04);
  --overlay: oklch(21.03% 0.003 324.04);
  --overlay-foreground: oklch(99.11% 0.0015 324.04);
  --scrollbar: oklch(70.5% 0.0015 324.04);
  --segment: oklch(39.64% 0.0015 324.04);
  --segment-foreground: oklch(99.11% 0.0015 324.04);
  --separator: oklch(25% 0.0015 324.04);
  --success: oklch(73.29% 0.1941 159.23);
  --success-foreground: oklch(21.03% 0.0059 159.23);
  --surface: oklch(21.03% 0.003 324.04);
  --surface-foreground: oklch(99.11% 0.0015 324.04);
  --surface-secondary: oklch(25.7% 0.0023 324.04);
  --surface-secondary-foreground: oklch(99.11% 0.0015 324.04);
  --surface-tertiary: oklch(27.21% 0.0023 324.04);
  --surface-tertiary-foreground: oklch(99.11% 0.0015 324.04);
  --warning: oklch(82.03% 0.1392 84.76);
  --warning-foreground: oklch(21.03% 0.0059 84.76);
}
